@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@page {
  size: A4;
}
* {
  margin: 0;
}
@media screen {
  .sheet {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .download-banner {
    width: 210mm;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
  .download-banner img {
    height: 1em;
    margin-left: 0.5rem;
  }
}
@media print {
  .download-banner {
    display: none;
  }
}
body {
  font-family: 'Golos Text', sans-serif;
  font-size: 18px;
}
.sheet {
  padding: 2rem;
}
.sheet,
.sheet > header,
.sheet > footer,
.sheet > main,
.record > header > span {
  display: flex;
  justify-content: space-between;
}
.sheet > header,
.sheet > footer,
.record > header > span {
  flex-direction: row;
}
.sheet,
.sheet > main {
  flex-direction: column;
}
contact > ul {
  list-style-type: none;
  text-align: right;
}
h4 {
  font-style: italic;
  font-weight: normal;
}
a {
  color: black;
  text-decoration: none;
}
.sheet > header {
  align-items: center;
}
section > header {
  margin-bottom: 1rem;
}
.record > header > span > h3 {
  flex-basis: 50%
}
.record > header {
  margin-bottom: 0.5rem;
}
.record {
  margin-bottom: 1.5rem;
}