@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

:root {
    --page-margin: 2rem;
    --font-size: 18px;
}

@page {
    margin: 0;
}

@media screen {
    .page {
        position: relative;
        display: block;
        margin: 0.5cm auto;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.25);
    }
}

html {
    font-family: 'Slabo 27px', serif;
    font-size: var(--font-size);
}

* {
    margin: 0;
}

.page {
    width: 21cm;
    height: 29.7cm;
    padding: var(--page-margin);
}

.split > * {
    display: inline-block;
}

.split {
    overflow: auto;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.page, article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    margin-bottom: 0.5rem;
}

hr {
    color: rgba(0,0,0,0.25);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

strong {
    font-style: italic;
    font-weight: bold;
}

address > ul {
    font-style: normal;
    list-style-type: none;
}

