@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

@page {
    size: A4;
}

:root {
    --page-margin: 2rem;
    --font-size: 18px;
}

html {
    font-family: 'Slabo 27px', serif;
    font-size: var(--font-size);
}

* {
    margin: 0;
}

.split > * {
    display: inline-block;
}

.split {
    overflow: auto;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.sheet {
    padding: var(--page-margin);
}

.sheet, article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    margin-bottom: 0.5rem;
}

hr {
    color: rgba(0,0,0,0.25);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

strong {
    font-style: italic;
    font-weight: bold;
}

address > ul {
    font-style: normal;
    list-style-type: none;
}

