<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <meta name="description" content="{{ name }}'s Resume">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
      @page {
        size: A4;
      }
      * {
        margin: 0;
      }
      @media screen {
        .sheet {
          margin: 0 auto;
          margin-bottom: 2rem;
        }
        .download-banner {
          width: 210mm;
          margin: 0 auto;
          font-size: 1.5rem;
          font-weight: bold;
          padding: 2rem 0;
          display: flex;
          justify-content: flex-end;
          color: #069;
          text-decoration: underline;
          cursor: pointer;
        }
        .download-banner img {
          height: 1em;
          margin-left: 0.5rem;
        }
      }
      @media print {
        .download-banner {
          display: none;
        }
      }
      body {
        font-family: 'Golos Text', sans-serif;
        font-size: 18px;
      }
      .sheet {
        padding: 2rem;
      }
      .sheet,
      .sheet > header,
      .sheet > footer,
      .sheet > main,
      .record > header {
        display: flex;
        justify-content: space-between;
      }
      .sheet > header,
      .sheet > footer,
      .record > header {
        flex-direction: row;
      }
      .sheet,
      .sheet > main {
        flex-direction: column;
      }
      contact > ul {
        list-style-type: none;
        text-align: right;
      }
      h4 {
        font-style: italic;
        font-weight: normal;
      }
      .sheet > header {
        align-items: center;
      }
      section > header {
        margin-bottom: 1rem;
      }
      .record > header {
        align-items: start;
        margin-bottom: 0.5rem;
      }
      .record {
        margin-bottom: 1.5rem;
      }

    </style>
    # if style_sheet:
    <link rel="stylesheet" href="{{ style_sheet }}">
    # endif
  </head>
  <body class="A4">
    <div class="download-banner" onclick="window.print()">
        <div>Get PDF</div>
        <img src="https://raw.githubusercontent.com/oscarbyrne/cv/540da8beb4e10be8d6d0518a04e2b7135b1df096/pdf.svg">
    </div>
    # for page in pages:
    <div class="sheet">
      # if loop.first:
      <header>
        <h1>{{ name }}</h1>
        <contact>
          <ul>
            <li>{{ email }}</li>
            <li>{{ website }}</li>
            <li>{{ phone }}</li>
          </ul>
        </contact>
      </header>
      # else:
      <header>
        <div>{{ email }}</div>
        <div>Page {{ loop.index }}/{{ loop.length }}</div>
      </header>
      # endif
      # for section in page:
      <section>
        # if section.title:
        <header>
          <h2>{{ section.title }}</h2>
        </header>
        # endif
        # for record in section.records:
        <article class="record">
          # if record.title or record.subtitle or record.dates:
          <header>
            <div>
              # if record.title:
              <h3>{{ record.title }}</h3>
              # endif
              # if record.subtitle:
              <h4>{{ record.subtitle }}</h4>
              # endif
              # if record.tech:
              {{ ", ".join(record.tech) }}
              # endif
            </div>
            # if record.dates:
            <time>{{ record.dates }}</time>
            # endif
          </header>
          # endif
          # if record.text or record.bullets:
          <main>
            # if record.text:
            <p>{{ record.text }}</p>
            # endif
            # if record.bullets:
            <ul>
              # for bullet in record.bullets:
              <li>{{ bullet }}</li>
              # endfor
            </ul>
            # endif
          </main>
          # endif
        </article>
        # endfor
      </section>
      # endfor
      <footer>
        <div>{{ name }}</div>
        <div>Page {{ loop.index }}/{{ loop.length }}</div>
      </footer>
    </div>
    # endfor
  </body>
</html>