<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <meta name="description" content="{{ name }}'s Resume">
    <link rel="stylesheet" href="resume.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
  </head>
  <body class="A4">
    <div class="sheet">
        <header class="split">
            <h1 class="left">{{ name }}</h1>
            <address class="right">
                <ul>
                {% for item in contact %}
                  <li>{{ item }}</li>
                {% endfor %}
                </ul>
            </address>
        </header>
        <article class="motivation">
            <p>{{ motivation }}</p>
        </article>
        <article class="experience">
            <header>
                <h2>Work Experience</h2>
            </header>
            {% for job in jobs %}
            <section>
                <header class="split">
                    <div class="left">
                        <h3>{{ job.title }}</h3>
                        <i>{{ job.employer }}</i>
                    </div>
                    <time class="right">{{ job.dates }}</time>
                </header>
                <ul>
                {% for achievement in job.achievements %}
                    <li>{{ achievement }}</li>
                {% endfor %}
                {% if job.technologies is defined %}
                    <li>Technologies: {{ job.technologies|join(', ') }}</li>
                {% endif %}
                </ul>
            </section>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </article>
        <footer class="split">
            <div class="left">{{ name }}</div>
            <div class="right">Page 1/2</div>
        </footer>
    </div>
    <div class="sheet">
        <article class="portfolio">
            <header>
                <h2>Hobbyist Portfolio</h2>
            </header>
            {% for project in portfolio %}
            <section>
                <header>
                    <h3>{{ project.title }}</h3>
                    <i>{{ project.url }}</i>
                </header>
                <p>{{ project.flavor }}</p>
            </section>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </article>
        <article class="education">
            <header>
                <h2>Education</h2>
            </header>
            {% for stint in education %}
            <section>
                <header class="split">
                    <div class="left">
                        <h3>{{ stint.course }}</h3>
                        <i>{{ stint.institution }}</i>
                    </div>
                    <time class="right">{{ stint.dates }}</time>
                </header>
                <p>{{ stint.flavor }}</p>
                <ul>
                {% for module in stint.modules %}
                    <li>{{ module }}</li>
                {% endfor %}
                </ul>
            </section>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </article>
        <article class="interests">
            <header>
                <h2>Other Interests</h2>
            </header>
            <ul>
            {% for interest in interests %}
              <li>{{ interest }}</li>
            {% endfor %}
            </ul>
        </article>
        <article class="references">
            <strong>References are available on request</strong>
        </article>
        <footer class="split">
            <div class="left">{{ name }}</div>
            <div class="right">Page 2/2</div>
        </footer>
    </div>
  </body>