<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <meta name="description" content="{{ name }}'s Resume">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body class="A4">
    <div class="download-banner" onclick="window.print()">
        <div>Get PDF</div>
        <img src="static/images/pdf.svg">
    </div>
    # for page in pages:
    <div class="sheet">
      # if loop.first:
      <header>
        <h1>{{ name }}</h1>
        <contact>
          <ul>
            <li><a href="mailto:{{ email }}">{{ email }}</a></li>
            <li><a href="{{ website }}">{{ website }}</a></li>
            <li><a href="tel:{{ phone }}">{{ phone }}</a></li>
          </ul>
        </contact>
      </header>
      # else:
      <header>
        <div>{{ email }}</div>
        <div>Page {{ loop.index }}/{{ loop.length }}</div>
      </header>
      # endif
      # for section in page.sections:
      <section>
        # if section.title:
        <header>
          <h2>{{ section.title }}</h2>
        </header>
        # endif
        # for record in section.records:
        <article class="record">
          # if record.title or record.subtitle or record.dates:
          <header>
            <span>
              # if record.title:
              <h3>{{ record.title }}</h3>
              # endif
              # if record.location:
              <div>{{ record.location }}</div>
              # endif
              # if record.dates:
              <time>{{ record.dates }}</time>
              # endif
            </span>
            # if record.subtitle:
            <h4>{{ record.subtitle }}</h4>
            # endif
            # if record.url:
            <div><a href="{{ record.url }}">{{ record.url }}</a></div>
            # endif
            # if record.tech:
            <div>{{ ", ".join(record.tech) }}</div>
            # endif
          </header>
          # endif
          # if record.text or record.bullets:
          <main>
            # if record.text:
            <p>{{ record.text }}</p>
            # endif
            # if record.text and record.bullets:
            <h5>Responsibilities:</h5>
            # endif
            # if record.bullets:
            <ul>
              # for bullet in record.bullets:
              <li>{{ bullet }}</li>
              # endfor
            </ul>
            # endif
          </main>
          # endif
        </article>
        # endfor
      </section>
      # endfor
      <footer>
        <div>{{ name }}</div>
        <div>Page {{ loop.index }}/{{ loop.length }}</div>
      </footer>
    </div>
    # endfor
  </body>
</html>